<app-home-nav></app-home-nav>
<div class="background-image"></div>
<form (ngSubmit)="onSubmit()" *ngIf="!isLoggedIn" [formGroup]="form" class="update-password-form">
  <mat-card-header>
    <div class="logo-container">
      <span class="logo-text">NIQ</span>
    </div>
  </mat-card-header>

  <mat-form-field appearance="outline">
    <mat-label>
      <mat-icon matPrefix>lock_open</mat-icon> New Password
    </mat-label>
    <input matInput type="password" formControlName="newPassword">
    <mat-error *ngIf="form.controls['newPassword'].invalid && form.controls['newPassword'].touched">
      <span class="error" *ngIf="form.controls['newPassword'].errors?.['required']">New password is required</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label><mat-icon matPrefix>lock</mat-icon>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword">
    <mat-error *ngIf="form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched">
      <span class="error" *ngIf="form.controls['confirmPassword'].errors?.['required']">Confirm password is required</span>
    </mat-error>
  </mat-form-field>

  <div class="button">
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      <mat-icon>update</mat-icon>
      Update Password
    </button>
  </div>

  
</form>