<div class="dialog-container">
    <button class="close-btn" (click)="onClose()">&times;</button> <!-- Close icon -->
    <h2>Add Employee</h2>
    <form [formGroup]="employeeForm" (ngSubmit)="onSave()">
      <div class="form-group">
        <label for="empName">Employee Name</label>
        <input id="empName" formControlName="empName" type="text" />
      </div>
      <div class="form-group">
        <label for="empId">Employee ID</label>
        <input id="empId" formControlName="empId" type="text" />
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <input id="role" formControlName="role" placeholder="ROLE_MEMBER" type="text" readonly />
      </div>
      <div class="form-group">
        <label for="leadId">Lead ID</label>
        <input id="leadId" formControlName="leadId" type="text" />
      </div>
      <div class="form-actions">
        <button type="submit" color="primary">Save</button>
      </div>
    </form>
  </div>
  